.home-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.home-container .MuiCard-root {
  width: 45%;
  margin: 20px;
}
.avatar-container {
  display: flex;
  align-items: center;
}
.home-container .MuiCard-root img {
  width: 100%;
}
.username-date {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  height: 42px;
}
