.violation {
    color: #FF0000;
    margin-top: 4px;
}

.login-card {
    margin: 1.5rem auto;
    max-width: 390px;
    padding: 2.1rem 1.75rem;
}

.login-text {
    margin: 1rem 0 0 0;
    font-size: 30px;
    font-style: normal;
}

.login-btn.m1 {
    margin: 2rem 0 0 0;
}

