.row {
    display:flex;
    height: 200px;
}
.card-partition-row {
    display:flex;
    height:100%;
}
.row1 {
    display:flex;
    height:100%;
}
.column-left {
    width:15%;

}
.card-partition-col-left {
    width:40%;
}

.card-partition-col-right {
    width:50%;
    height:100%;
}

.column-center {
    width:70%;
}

.column-right {
    width:15%;

}
.col-left {
    width:10%;
    height:50%;
}
.col-center {
    width:40%;

}
.col-right {
    width:40%;

}
.col-l {
    width:30%;
}
.col-c {
    width:30%;
}
.col-r {
    width:40%;
}
.row-one {
    padding-top: 10px;
    padding-bottom: 10px ;
    align-items: flex-start;
    display:flex;
    font-size: 22px;
    font-style: bold;
}

.row-two {
    padding-bottom: 10px ;
    display:flex;
    align-items:center;
    font-size: 18px;
}

.row-three {

    display:flex;
    align-items: flex-end;
    font-size: 24px;
}
.dispNone {
    display: none;
}

.dispBlock {
    display: block;
}

.red {
    color:red;
}

.image-properties {
    display:flex;
    justify-content: center;
    align-items: center;
}
.row-card {
    display:flex;
    height:100%;
}
.column-card-left {

    float: left;
    width: 70%;

    height:100%;
}
.column-card-right {

    float: right;
    width: 50%;

    height:100%;

}
.row:after {
    content: "";
    display: table;
    clear: both;
    height:100%;
}

.infoSection{
    padding-top: 10px;
}
.row-card-up {
    display:flex;
    flex-direction:column;
    float:top;
}
.row-card-down {
    display:flex;
    flex-direction:row;
    float:bottom;

}