.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #263238;
    height: 70px;
}

.app-logo {
    color: #fff;
    font-size: 18px;
    padding-left: 15px;
}

.app-header-right {
    display: flex;
    align-items: center;
}

.search-box {
    border-radius: 4px;
    width: 300px;
    background-color: #c0c0c0;
    height: 35px;
    margin-right: 20px;
}

.search-icon {
    padding-left: 8px;
}

.profile-icon {
    padding: 0 10px;
}

.app-logo-clickable {
    cursor: pointer;
}

.search-box>.MuiInputBase-input {
    padding-top: 14px;
}